In [1]:
import json
import pandas as pd
import numpy as np
import json
import warnings

In [2]:
with open('resultados.json', 'r') as f:
    data= f.read()

In [3]:
lista = json.loads(data)

In [4]:
lista[0]

{'Producto': 'The Ordinary Natural Moisturizing Factors + HA',
 'Reseñas': ['',
  'El 76% de las opiniones tienen 5 estrellas',
  'El 76% de las opiniones tienen 5 estrellas',
  'El 13% de las opiniones tienen 4 estrellas',
  'El 13% de las opiniones tienen 4 estrellas',
  'El 7% de las opiniones tienen 3 estrellas',
  'El 7% de las opiniones tienen 3 estrellas',
  'El 2% de las opiniones tienen 2 estrellas',
  'El 2% de las opiniones tienen 2 estrellas',
  'El 3% de las opiniones tienen 1 estrellas',
  'El 3% de las opiniones tienen 1 estrellas',
  '',
  '',
  '',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '4.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '4.0 de 5 estrellas',
  '',
  '4.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '5.0 de 5 estrellas',
  '',
  '']}

In [5]:

productos = []
reviews = []


for i in lista:
    for key, values in i.items():
       
        if key == 'Producto':
            productos.append(values)
        elif key == 'Reseñas':
            reviews.append(values)

In [6]:


filtered_reviews = []

for review in reviews:
    if review is not None and isinstance(review, list):
        product_reviews = []
        for item in review:
            if isinstance(item, str) and len(item) == 18:
                product_reviews.append(item)
        filtered_reviews.append(product_reviews)

In [7]:
filtered_reviews[0]

['5.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '4.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '4.0 de 5 estrellas',
 '4.0 de 5 estrellas',
 '5.0 de 5 estrellas',
 '5.0 de 5 estrellas']

In [8]:

max_cols = max(len(row) for row in filtered_reviews)

column_names = [f'usuario_{i+1}' if i < len(filtered_reviews[0]) else None for i in range(max_cols)]

df = pd.DataFrame(filtered_reviews, columns=column_names)
df.head()

,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10
0,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas
1,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas
2,5.0 de 5 estrellas,5.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,4.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas
3,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,3.0 de 5 estrellas,4.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,3.0 de 5 estrellas
4,5.0 de 5 estrellas,3.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,1.0 de 5 estrellas,1.0 de 5 estrellas,1.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas,5.0 de 5 estrellas

In [9]:
def procesar_columna(columna):
    return columna.str.split(' ', expand=True)[0]
df = df.apply(procesar_columna)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   usuario_1   692 non-null    object
 1   usuario_2   691 non-null    object
 2   usuario_3   689 non-null    object
 3   usuario_4   685 non-null    object
 4   usuario_5   683 non-null    object
 5   usuario_6   677 non-null    object
 6   usuario_7   674 non-null    object
 7   usuario_8   661 non-null    object
 8   usuario_9   648 non-null    object
 9   usuario_10  648 non-null    object
dtypes: object(10)
memory usage: 54.2+ KB

In [11]:
df['Productos'] = productos[:692]


df = df.reindex(range(1995)).fillna(value=pd.np.nan)

/tmp/ipykernel_9397/2104765011.py:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df = df.reindex(range(1995)).fillna(value=pd.np.nan)

In [12]:
rating = df

Vamos a unir el dataframe de rating, con el original

In [13]:
rating['Producto']=rating['Productos']

In [14]:
rating = rating.drop('Productos', axis=1)

In [15]:
rating.head()

,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10,Producto
0,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary Natural Moisturizing Factors + HA
1,4.0,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0,CeraVe Eye Repair Cream
2,5.0,5.0,3.0,5.0,4.0,3.0,5.0,5.0,5.0,5.0,"Dear, Klairs Supple Preparation Unscented Toner"
3,5.0,5.0,5.0,5.0,5.0,3.0,4.0,3.0,5.0,3.0,"Dear, Klairs Freshly Juiced Vitamin Drop"
4,5.0,3.0,5.0,5.0,1.0,1.0,1.0,5.0,5.0,5.0,Biossance Squalane + Peptide Eye Gel

In [16]:
productos = pd.read_csv('productos.csv')

In [17]:
productos.head()

,Unnamed: 0,Type,Brand,Name,Skin,Producto
0,0,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,dry,The Ordinary Natural Moisturizing Factors + HA
1,1,Eye Moisturizer,CeraVe,Eye Repair Cream,dry,CeraVe Eye Repair Cream
2,6,Toner,Hada Labo,Gokujyun Premium Lotion,dry,Hada Labo Gokujyun Premium Lotion
3,7,General Moisturizer,Clinique,Moisture Surge 72-Hour Auto-Replenishing Hydrator,dry,Clinique Moisture Surge 72-Hour Auto-Replenish...
4,8,General Moisturizer,Clinique,Moisture Surge™ 100-Hour Auto-Replenishing Hyd...,dry,Clinique Moisture Surge™ 100-Hour Auto-Repleni...

In [18]:
merged= pd.merge(productos, rating, on = 'Producto')

In [19]:
merged.head()

,Unnamed: 0,Type,Brand,Name,Skin,Producto,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10
0,0,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,dry,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0
1,10017,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,age,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0
2,16247,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,brightening,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0
3,24797,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,large pores,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0
4,30131,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,scar healing,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0

In [20]:
merged['Products'] = merged['Brand'] + ' - ' + merged['Name']

In [21]:
merged.head()

,Unnamed: 0,Type,Brand,Name,Skin,Producto,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10,Products
0,0,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,dry,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
1,10017,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,age,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
2,16247,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,brightening,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
3,24797,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,large pores,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
4,30131,General Moisturizer,The Ordinary,Natural Moisturizing Factors + HA,scar healing,The Ordinary Natural Moisturizing Factors + HA,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA

In [22]:
merged = merged.drop(columns=['Brand','Name','Producto' , 'Unnamed: 0'], axis=1)

In [23]:
merged.head()

,Type,Skin,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10,Products
0,General Moisturizer,dry,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
1,General Moisturizer,age,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
2,General Moisturizer,brightening,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
3,General Moisturizer,large pores,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA
4,General Moisturizer,scar healing,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,The Ordinary - Natural Moisturizing Factors + HA

In [24]:

new_order = ['Type', 'Products','Skin','usuario_1','usuario_2','usuario_3','usuario_4','usuario_5','usuario_6','usuario_7','usuario_8','usuario_9','usuario_10']
merged = merged.reindex(columns=new_order)

In [25]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2758 entries, 0 to 2757
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Type        2758 non-null   object
 1   Products    2758 non-null   object
 2   Skin        2758 non-null   object
 3   usuario_1   2758 non-null   object
 4   usuario_2   2758 non-null   object
 5   usuario_3   2751 non-null   object
 6   usuario_4   2746 non-null   object
 7   usuario_5   2746 non-null   object
 8   usuario_6   2724 non-null   object
 9   usuario_7   2703 non-null   object
 10  usuario_8   2668 non-null   object
 11  usuario_9   2634 non-null   object
 12  usuario_10  2634 non-null   object
dtypes: object(13)
memory usage: 301.7+ KB

Vamos a transformar los rating en numeros float, para poder trabajar con estos datos posteriormente.

In [26]:

cols_to_convert = [col for col in merged.columns if col not in ['Type', 'Products', 'Skin']]
merged[cols_to_convert] = merged[cols_to_convert].applymap(lambda x: float(x))

merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2758 entries, 0 to 2757
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Type        2758 non-null   object
 1   Products    2758 non-null   object
 2   Skin        2758 non-null   object
 3   usuario_1   2758 non-null   float64
 4   usuario_2   2758 non-null   float64
 5   usuario_3   2751 non-null   float64
 6   usuario_4   2746 non-null   float64
 7   usuario_5   2746 non-null   float64
 8   usuario_6   2724 non-null   float64
 9   usuario_7   2703 non-null   float64
 10  usuario_8   2668 non-null   float64
 11  usuario_9   2634 non-null   float64
 12  usuario_10  2634 non-null   float64
dtypes: float64(10), object(3)
memory usage: 301.7+ KB

In [27]:
merged.usuario_4.isnull().sum()

12

In [28]:
merged.loc[merged["usuario_10"].isnull()].head()

,Type,Products,Skin,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10
17,General Moisturizer,Clinique - Moisture Surge 72-Hour Auto-Repleni...,dry,4.0,5.0,4.6,4.7,4.6,4.7,4.4,4.4,NaN,NaN
18,General Moisturizer,Clinique - Moisture Surge 72-Hour Auto-Repleni...,age,4.0,5.0,4.6,4.7,4.6,4.7,4.4,4.4,NaN,NaN
19,General Moisturizer,Clinique - Moisture Surge 72-Hour Auto-Repleni...,brightening,4.0,5.0,4.6,4.7,4.6,4.7,4.4,4.4,NaN,NaN
20,General Moisturizer,Clinique - Moisture Surge 72-Hour Auto-Repleni...,dark spots,4.0,5.0,4.6,4.7,4.6,4.7,4.4,4.4,NaN,NaN
21,General Moisturizer,Clinique - Moisture Surge 72-Hour Auto-Repleni...,texture,4.0,5.0,4.6,4.7,4.6,4.7,4.4,4.4,NaN,NaN

A continuación se van a eliminar aquellas filas, que tengan más de 6 valores nulos, puesto que son pocos los casos de productos con tan pocas reseñas.

In [29]:
merged = merged.dropna(thresh=8)

In [30]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2746 entries, 0 to 2757
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Type        2746 non-null   object
 1   Products    2746 non-null   object
 2   Skin        2746 non-null   object
 3   usuario_1   2746 non-null   float64
 4   usuario_2   2746 non-null   float64
 5   usuario_3   2746 non-null   float64
 6   usuario_4   2746 non-null   float64
 7   usuario_5   2746 non-null   float64
 8   usuario_6   2724 non-null   float64
 9   usuario_7   2703 non-null   float64
 10  usuario_8   2668 non-null   float64
 11  usuario_9   2634 non-null   float64
 12  usuario_10  2634 non-null   float64
dtypes: float64(10), object(3)
memory usage: 300.3+ KB

Los nulos que nos quedan se van a sustituir por la media de la fila, ya que sería la media de las reviews que recibe el producto.

In [31]:
cols = [col for col in merged.columns if col not in ['Type', 'Products', 'Skin']]
merged['mean'] = merged[cols].mean(axis=1)[0]

In [41]:
merged['usuario_7'].isnull().sum()

43

In [44]:
merged.loc[merged["usuario_7"].isnull()].head()

,Type,Products,Skin,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10,mean
875,Serum,Neutrogena - Rapid Wrinkle Repair Serum,dry,5.0,3.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,4.7
876,Serum,Neutrogena - Rapid Wrinkle Repair Serum,oil,5.0,3.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,4.7
877,Serum,Neutrogena - Rapid Wrinkle Repair Serum,acne,5.0,3.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,4.7
878,Serum,Neutrogena - Rapid Wrinkle Repair Serum,age,5.0,3.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,4.7
879,Serum,Neutrogena - Rapid Wrinkle Repair Serum,brightening,5.0,3.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,4.7

In [37]:
merged.head()

,Type,Products,Skin,usuario_1,usuario_2,usuario_3,usuario_4,usuario_5,usuario_6,usuario_7,usuario_8,usuario_9,usuario_10,mean
0,General Moisturizer,The Ordinary - Natural Moisturizing Factors + HA,dry,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,4.7
1,General Moisturizer,The Ordinary - Natural Moisturizing Factors + HA,age,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,4.7
2,General Moisturizer,The Ordinary - Natural Moisturizing Factors + HA,brightening,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,4.7
3,General Moisturizer,The Ordinary - Natural Moisturizing Factors + HA,large pores,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,4.7
4,General Moisturizer,The Ordinary - Natural Moisturizing Factors + HA,scar healing,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0,4.7

In [38]:
merged['usuario_6'] = merged['usuario_6'].fillna(merged['mean'])

In [45]:
merged['usuario_7'] = merged['usuario_7'].fillna(merged['mean'])

In [49]:
merged['usuario_8'] = merged['usuario_8'].fillna(merged['mean'])

In [51]:
merged['usuario_9'] = merged['usuario_9'].fillna(merged['mean'])

In [52]:
merged['usuario_10'] = merged['usuario_10'].fillna(merged['mean'])

In [57]:
merged= merged.drop('mean', axis=1)

In [58]:
merged.to_csv('SKINCARE.csv', index=False)